<h1>Reward show page</h1>


<%= @reward.name %>
<%= @reward.description %>

<%= button_to "Delete Reward", reward_path, method: :delete %>
<%= button_to "Edit Reward", edit_reward_path(@reward), method: :get %>
